{% comment %} 
<!--
  Siderail Feature

  This file contains the code needed to generate a siderail.
--> 
{% endcomment %}

<!-- Siderail -->
<div class="siderail-navigation col-xs-12 col-sm-3 col-md-3">
  <div class="sider-nav-cont">
    <h2 class="editable">Siderail content #1</h2>

    <a href="#" class="editable">Lorem ipsum</a>
  </div>

  <div class="sider-nav-cont">
    <h2 class="editable">Siderail content #2</h2>

    <a href="#" class="editable">Lorem ipsum</a>
  </div>


  <div class="sider-nav-cont">
    <h2 class="editable">Siderail content #3</h2>

    <a href="#" class="editable">Lorem ipsum</a>
  </div>
</div> <!-- .blogroll-navigation -->