// Contains header layout styles

nav.navbar.navbar-default {
  background-color: #06B5E7;

	&.navbar-fixed-top {
    padding: 0px 0px 0px;

    &.navbar-shrink {
    	padding: 0px 0;

    	.navbar-brand {
    		font-size: 1.5em;
    		padding: 15px 30px 15px 0px;
			}
		}

		a.navbar-brand {
    	font-size: 34px;
    	padding: 20px 20px 20px 0px;
	    color: #fff;

	  	&:hover {
	    	color: #fff;
	  	}

      @media screen and (max-width: $screen-sm-min) {
        font-size: 1.5em;
        padding: 15px 30px 15px 0px;
      }
		}
	}

	.container {
	  width: 90%;
	  max-width: 1200px;
	  padding: 0px;
	}

}


.navbar-fixed-top .nav.navbar-nav a {
  padding: 20px 10px 20px;
}

.navbar-fixed-top.navbar-shrink .nav.navbar-nav a {
    padding: 15px 7px 15px;
}

.nav span.caret {
    display: inline-block;
    width: 12px;
    height: 7px;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.nav .dropdown-right ul.dropdown-menu {
    padding: 0px;
    top: 60px;
    border: 0px;
}

.navbar-fixed-top.navbar-shrink .nav .dropdown-right ul.dropdown-menu {
    top: 50px;
}

.dropdown-menu li {
    display: block;
    margin: 0;
    background: #6FDCFA;
    white-space: nowrap;
    color: #fff;
}

.nav.navbar-nav .dropdown-menu>li>a {
    color: #fff;
    padding: 20px;

  &:hover {
    color: black;
  }
}

.dropdown-right.open a#dropdownMenu {
    background-color: #6FDCFA;
}

@media (min-width: 979px) {
  ul.nav li.dropdown-right:hover > ul.dropdown-menu {
    display: block;
  }
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
}

.navbar-fixed-top.navbar-shrink.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}