// Contains siderail layout styles

.siderail-navigation .sider-nav-cont {
	padding-left:30px;

	h2 {
		font-size:18px;
		text-transform: capitalize;
		margin-top: 90px;
		margin-bottom: 10px;
		border-bottom: 1px solid;
		padding: 0px 0px 10px;
	}

	a {
		font-size: 16px;
	}
}