---
layout: default
---

<div class="container">

<div class="row" style="padding-bottom: 100px">
<section class="hero" style="padding: 140px 0 100px;">
  <div class="hero__image col-lg-6">
    <img src="/img/guides.jpg" alt="Guides" style="width: 70%;text-align: right;">
  </div>
  <div class="hero__description col-lg-6">
    <h1 style="text-transform: capitalize;">Guides</h1>
    <p style="color: #6D696E;font-size: 18px;font-weight: 300;">We’ve written these guides to help you create and do cool things with your Wufoo forms. Are you trying to do something above and beyond the norm? You can find the answers you’re looking for and more in our guides.</p>

    <div class="btn-row is-left" id="cta-hero" data-cta="">
      <a href="#" class="btn btn-lg btn-outline-help"> Start Free Trial </a>
      <a href="#" class="btn btn-lg btn-outline-help"> Start Free Trial </a>
    </div>
  </div>
</section>
</div>

<div class="row" style="padding-bottom: 75px">
        <div class="title-box-2 is-heading">
          <h1 style="font-weight: 300;text-transform: capitalize;">{{ page.title }}</h1>
          <p style="color: #6D696E;font-size: 16px;">{{ page.sub-title }}</p>
        </div>
</div>

  <div class="row">
        <div class="guides__category col-lg-6">
          <h3 style="margin-top:0px;margin-bottom:25px;color: #e86f69;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 20px;">The Basics</h3>
          <p style="    font-style: italic;
    font-size: 16px;
    width: 75%;
    color: #6D696E;
    line-height: 30px;
}">Get an introduction to Wufoo's basic functionality and learn the ins and outs of Wufoo and its features with these articles.</p>
        </div>
        <div class="col-lg-6">
        <ul class="col-6 help-home-list">
                          <li>
                <a href="/guides/3-things-to-avoid-on-online-forms/">3 Things You Definitely Should NOT Do On Your&nbsp;Forms</a>
              </li>
                          <li>
                <a href="/guides/back-to-basics-email-text-notifications/">Back to Basics: Email &amp; Text Message&nbsp;Notifications</a>
              </li>
                          <li>
                <a href="/guides/conditional-logic-and-branching/">Wufoo Now Has  Conditional Logic and&nbsp;Branching!</a>
              </li>
                          <li>
                <a href="/guides/default-radio-button-behavior/">Default Radio Button&nbsp;Behavior</a>
              </li>
                          <li>
                <a href="/guides/embed-wufoo-forms-on-wordpress-com/">You Can Now Embed Wufoo Forms on WordPress.com!</a>
              </li>
                          <li>
                <a href="/guides/embed-wufoo-reports-graphs-and-charts-on-your-own-site/">Embed Wufoo Reports, Graphs and Charts on Your Own Site</a>
              </li>
                          <li>
                <a href="/guides/five-star-rating-type/">Say Hello To The Five Star Rating Field&nbsp;Type.</a>
              </li>
                          <li>
                <a href="/guides/form-rules-make-forms-rule/">Form Rules Make Forms Rule!</a>
              </li>
                          <li>
                <a href="/guides/info-on-wufoos-automated-emails/">The Skinny On Wufoo’s Automated Emails</a>
              </li>
                          <li>
                <a href="/guides/section-break-with-html-and-image-embeds/">The Secret Life of the Section Break - Part 1  Hyperlinks &amp; Image&nbsp;Embeds</a>
              </li>
                          <li>
                <a href="/guides/use-over-150-fonts-on-your-forms-with-wufoos-new-typography-features/">Use over 150 Fonts on Your Forms with Wufoo’s New Typography&nbsp;Features</a>
              </li>
                          <li>
                <a href="/guides/print-forms/">Print Wufoo Forms from the Browser</a>
              </li>
                          <li>
                <a href="/guides/attach-an-image-to-a-contact-form/">Attach an Image to a Contact Form</a>
              </li>
                          <li>
                <a href="/guides/characters-vs-words/">Characters Versus Words</a>
              </li>
                          <li>
                <a href="/guides/preventing-form-spam-verification-code-field/">Preventing Spam with a Verification Code Field</a>
              </li>
                          <li>
                <a href="/guides/item-quantity-without-dropdown/">Total Up Item Quantities by Using a Drop Down Feature</a>
              </li>
                          <li>
                <a href="/guides/wufoo-formstack-forms/">Formstack vs. Wufoo: Feature Comparisons</a>
              </li>
                          <li>
                <a href="/guides/wufoo-jotforms/">Wufoo vs. Jotform: Feature Comparisons</a>
              </li>
                    </ul>
          </div>
      </div>
      <hr>
                      <div class="row">

        <div class="guides__category col-lg-6">
          <h3 style="margin-top:0px;margin-bottom:25px;color: #e86f69;
    font-weight: 300;
    text-transform: capitalize;
    font-size: 20px;">Customization</h3>
          <p style="    font-style: italic;
    font-size: 16px;
    width: 75%;
    color: #6D696E;
    line-height: 30px;
}">Looking to further customize your Wufoo forms and experience? These articles will show you how to really customize Wufoo and make it yours.</p>
        </div>
        <div class="col-lg-6">
        <ul class="col-6 help-home-list">
                          <li>
                <a href="/guides/fun-with-fantastic-fonts/">Fun with Fantastic Fonts!</a>
              </li>
                          <li>
                <a href="/guides/arrange-form-fields-side-by-side/">How to Arrange Form Fields to Sit Next  to Each Other in&nbsp;Wufoo</a>
              </li>
                          <li>
                <a href="/guides/custom-notification-email-addresses/">How to Send Email Notifications To Different People  Based on the Dropdown&nbsp;Field</a>
              </li>
                          <li>
                <a href="/guides/custom-radio-buttons-and-checkboxes/">How to Customize Checkbox and Radio Inputs with Custom CSS</a>
              </li>
                          <li>
                <a href="/guides/customize-your-form-with-css-examples/">Customize Your Form With CSS: Examples!</a>
              </li>
                          <li>
                <a href="/guides/use-form-anatomy-custom-css/">How to Use Custom CSS to Further Customize the Look of your Wufoo Forms</a>
              </li>
                          <li>
                <a href="/guides/three-fields-in-a-row-and-more-with-css-keywords/">Three Fields in a Row and More with CSS Keywords!</a>
              </li>
                          <li>
                <a href="/guides/how-to-create-a-custom-asterisk-in-css-for-required-fields/">Creating a Custom Asterisk in CSS for Required Fields</a>
              </li>
                          <li>
                <a href="/guides/how-to-move-the-submit-button-to-a-new-position/">Moving the Submit Button</a>
              </li>
                          <li>
                <a href="/guides/method-for-not-showing-form-name/">Learn How to Hide the Wufoo Form Name on Your Website Page</a>
              </li>
                          <li>
                <a href="/guides/insert-hyperlink-in-form-description/">Insert a Hyperlink into the Form Description</a>
              </li>
                          <li>
                <a href="/guides/hideshow-submit-button/">Hide/show the Submit Button</a>
              </li>
                          <li>
                <a href="/guides/images-with-radio-button/">Insert an Image in Your Form</a>
              </li>
                          <li>
                <a href="/guides/customize-confirmation-email-with-driving-directions/">Customize the Confirmation Email with Driving Directions</a>
              </li>
                    </ul>
      </div>

      <hr>
          
  </main>

</div>