---
layout: default
---

{% assign blog_content = site.data.blog-authors.blog %}

<section id="help-single" class="no-bot-pad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="title-box-2 is-heading">
          <h1 class="editable">{{ page.title }}</h1>
          <p> class="editable"{{ page.sub-title }}</p>
        </div>

        <p class="text-center back-link">
          <a href="{{ blog_content.back-link-url }}" class="editable"><span class="icon-arrow-left"></span><span>{{ blog_content.back-link-title }}</span></a>
        </p>
      </div>    

      <div class="help-container-row">
        <div class="blog-content editable">
            {{ content }}
        </div>

        <hr class="blog-content-hr">

      </div>

    </div>

  </div>
</section>