---
layout: default
---

<!-- hero section -->
{% include homepage-sections/hero.html %}

<!-- section 1 -->
{% include homepage-sections/text-section.html textID = "textBlockEasy" %}

<!-- section 2 -->
{% include homepage-sections/flow.html sectID = "flow" bgColor = "is-grey" bubbleColor = "is-blue" %}

<!-- section 3 -->
{% include homepage-sections/text-section.html textID = "textBlockFeatures"  %}

<!-- section 4 -->
{% include homepage-sections/flow.html sectID = "features" bgColor = "is-red" bubbleColor = "is-red" %}

<!-- section 5 -->
{% include homepage-sections/carousel.html %}

<!-- signup section -->
{% include homepage-sections/signup.html %}


   
