// File contains styles for base HTML Elements

.glyphicon {
  top: 2px;
}

.ark {
  width: 200px;
  height: 161px;
  display: block;
  margin: 0px auto 30px;
}



.card-imageWrapper {
  display: table-cell;
  text-align: right;
  padding: 0px;

  img.img-responsive {
    display: inline-block;
    margin: 0px;
    text-align: right;
  }
}
.card-content {
  display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    min-height: 80px;
    text-align: left;

  h3.card-name {
    font-size: 18px;
    text-transform: capitalize;
  }
  p.card-description {
    font-size: 14px;
  }
}

.meta-container {
  padding: 20px 0px 20px;
  color: #6D696E;
  font-weight: 300;
}