// File contains styles for base HTML Elements

.glyphicon {
  top: 2px;
}

.ark {
  width: 200px;
  height: 161px;
  display: block;
  margin: 0px auto 30px;
}



.card-imageWrapper {
  display: table-cell;
  text-align: right;
  padding: 0px;

  img.img-responsive {
    display: inline-block;
    margin: 0px;
    text-align: right;
  }
}
.card-content {
  display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    min-height: 80px;
    text-align: left;

  h3.card-name {
    font-size: 18px;
    text-transform: capitalize;
  }
  p.card-description {
    font-size: 14px;
  }
}

.meta-container {
  padding: 20px 0px 20px;
  color: #6D696E;
  font-weight: 300;
}

// Back to Top Button
.btn.btn-to-top {
  font-family: "Proxima Nova Semi Bold",Arial,Helvetica,sans-serif;
  text-align: center;
  position: fixed;
  z-index: 11;
  right: 15px;
  bottom: -150px;
  -webkit-transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  -moz-transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  -o-transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  transition: bottom 300ms ease-in-out,background 300ms ease-in-out;
  white-space: normal;

  &:hover {
    color: #fff;
  }

  &.is-visible {
    bottom: 30px;
  }

  >.icon-top {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
  }

  >span {
    position: relative;
    top: 50px;
  }

}